@import '../overrides/heading';
@import '../settings';
$container-width: 980px;
#myModal{
.js{
  .top-bar-container, .footer{
    opacity: 0;
    -webkit-transition: opacity 1000ms ease;
    -moz-transition: opacity 1000ms ease;
    -o-transition: opacity 1000ms ease;
    transition: opacity 1000ms ease;
  }
}
#myModal{
    -webkit-transition: top 400ms ease;
    -moz-transition: top 400ms ease;
    -o-transition: top 400ms ease;
    transition: top 400ms ease;
}
.reveal-modal{
  background: #1b1b1b !important;
  padding: .5em !important;
}
button:focus, .button:focus {
  background-color: #fff !important;
}

  width: auto !important;
}
object,embed{
  max-height: 420px;
}
button.close-reveal-modal{
  background-color: transparent!important;
  margin: 0em!important;
  padding: 0em!important;
}html.avgrund-active{
  &.dark{
    background: black;
  }
}
.dark{
}
html.avgrund-active{
  &.light{
    background: black;
  }
}
.full-bg{
  background: url('../images/light-bg.jpg');
  background-size: cover !important;
  background-position: center center;
  background-repeat: no-repeat no-repeat;
  position: fixed;
  top: 0;
  z-index:-1;
  -webkit-transition: opacity 500ms ease;
  -moz-transition: opacity 500ms ease;
  -ms-transition: opacity 500ms ease;
  -o-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  opacity:0;
}

.ie9, .ie8, .ie7, .ie6{
 .right-off-canvas-menu{
    display: none;
  }
}
.ie-only{
  display: none;
}
.ie-hack{
 .off-canvas-wrap{
  display: none;
 }
 .notice{
  padding: .3em;
  background: #eee;
  border-bottom: 2px solid #ddd;
 }
 .callout{
  margin-top: .3em;
  margin-bottom: .3em;
 }
 .pane{
  padding: 1em;
  display: inline;
 }
 .button{
  padding: .2em;
  border-bottom: 2px solid #ddd;
 }
 .inline-block{
  display: inline-block;
  h1, h2, h3{
    display: inline-block;
  }
 }
 label{
  font-weight: bold;
  text-decoration: underline;
 }
 ul{
  li{
    display: inline;
    list-style: none;
  }
 }
 .purpose{
  font-weight: bold;
 }
 img.head{
  margin-top: 1em;
  max-width: 600px;
  border: 2px solid #333;
  border-bottom: 50px solid #333;
  border-top: 50px solid #333;
 }
 .ie-only{
  display: block;
  text-align: center;
 }
}
.ie6, .ie7, .ie8{
  .inner-wrap{
    min-width: 1024px;
    min-height: 768px;
  }
}

.full-bg.visible{
  opacity:1;
}
.full-bg.image1{
  background-image: url('https://s3.amazonaws.com/LKBG-TG/pace/images/light-bg.jpg');
}
.full-bg.image2{
  background-image: url('https://s3.amazonaws.com/LKBG-TG/pace/images/dark-bg.jpg');
}


#full-bg.image3{
}

html{
  height: 100%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
body{
  height: 100%;
  background: none !important;
}
.in-b{
  display: inline-block;
}
.ft-light{
  font-weight: 100;
}
.logo{
  width: 350px;
}

.main-container{
  h1{
    margin-bottom: .3rem;
  }
  h2{
    margin-bottom: .5rem;
    display: inline-block;
  }
  .button{
    text-transform: uppercase!important;
    font-size: 1.2rem;
    &.right-is:hover{
      padding-right: 5em;
    }
    &.left-is:hover{
      padding-left: 5em;
    }
  }
}

.light{
  .main-container{
    h1,
    h3{
      color: #343434;
    }
    h2{
      color: #333;
    }
    .button{
      border: 2px solid #333;
      color: #333;
      &.right-is:hover{
        background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton.png')  #fff left center no-repeat;
        border: 3px solid white;
        color: #333;
      }
      &.left-is:hover{
        background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton-rev.png')  #fff right center no-repeat;
        border: 2px solid white;
        color: #333;
      }
    }
  }
}
.dark{
  .main-container{
    h1,
    h3{
      color: #ededed;
    }
    h2{
      color: white;
    }
    .button{
      border: 2px solid #fff;
      color: #fff;
      &.right-is:hover{
        background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton.png')  #fff left center no-repeat;
        border: 3px solid white;
        color: #333;
      }
      &.left-is:hover{
        background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton-rev.png')  #fff right center no-repeat;
        border: 2px solid white;
        color: #333;
      }
    }
  }
}

.main-container{
  text-align: center;
  max-width: $container-width;
  width: 100%;
  margin: 0 auto;

  h3{
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    font-family: "pf_din_text_comp_pro_lightRg","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    &.hidden{
      opacity:0;
    }
    font-size: 20px;
    font-weight:300;
    text-transform: uppercase;
    margin-bottom: 1em;
  }
  h1{
    span{
      font-family: "pf_din_text_comp_pro_lightRg","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
    }

    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    &.hidden{
      opacity:0;
    }
    font-size: 30px;
    font-weight:300;
    text-transform: uppercase;
    letter-spacing: 0.13em;
  }
  h2{
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    transition: all 1000ms ease;
    &.hidden{
      opacity: 0;
      transform: translate(0px,-130px);
      -ms-transform: translate(0px,-130px); /* IE 9 */
      -webkit-transform: translate(0px,-130px); /* Safari and Chrome */
    }
    font-size: 25px;
    font-family: $body-font-family;
    font-weight:100;
    text-transform: uppercase;
  }
  .button{
    font-family: $nav-font-family;
    width: 75px;
    height: 75px;
    border-radius: 100px;
    background-image: url('https://s3.amazonaws.com/LKBG-TG/pace/images/play-button.png');
    background-repeat: no-repeat;
    background-size: 63%;
    background-position: 60% center;
    background-color: white;
    &.right-is{
      background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton.png') left center no-repeat #181819;
    }
    &.left-is{
      background: url('https://s3.amazonaws.com/LKBG-TG/pace/images/playbutton-rev.png') right center no-repeat #181819;
    }
    -webkit-transition: opacity 1000ms ease, padding 500ms ease, background 250ms ease;
    -moz-transition: opacity 1000ms ease, padding 500ms ease, background 250ms ease;
    -o-transition: opacity 1000ms ease, padding 500ms ease, background 250ms ease;
    transition: opacity 1000ms ease, padding 500ms ease, background 250ms ease;
    &.hidden{
      opacity:0;
    }
    span{
      display: none;
    }
    &:focus{
      box-shadow: none;
      outline: none;
    }
    &:hover{
      background-color: rgba(255,255,255,.6);
      box-shadow: 0 0 30px rgba(255,255,255,.4);
      span{
        display: inline;
      }
    }
  }
}
@media only screen and (min-width:40.063em){
  .main-container{
      h1, h3{
        font-size: 20px;
      }
      h1{
        font-size: 30px;
      }
      h2{
        font-size: 30px;
      }
  }
}
@media only screen and (min-width:64.063em){
  .main-container{
    h1, h3{
      font-size: 30px;
    }
    h2{
      font-size: 45px;
    }
          h1{
        font-size: 40px;
      }
  }
}
@media only screen and (min-width:90.063em){

}
@media only screen and (min-width:120.063em){
}

.no-js{
  .main-container{
    margin-top: 250px;
  }
  .hidden{
    opacity: 100 !important;
    transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important; /* IE 9 */
    -webkit-transform: translate(0px, 0px) !important; /* Safari and Chrome */
  }
}

@media only screen and (max-height:450px){
  .no-js{
    .main-container{
       margin-top: 90px;
    }
  }
}

@media only screen and (min-height:450px) and (max-height:700px){
  .no-js{
    .main-container{
       margin-top: 150px;
    }
  }
}

